name: Python Tests
run-name: Rest API Python Tests

on:
  push:
  
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: 3.12
          
      - name: Run Tests
        run: |
             chmod +x -R ${{ github.workspace }}
             pip install --upgrade pip
             pip install -r requirements.txt
             export PYTHONPATH=${PYTHONPATH}:${{ github.workspace }}
             pytest -s tests/part_01/test_users.py
